.custom-modal {
    min-height: 300px; // Adjust the width as needed
    margin: 0 auto;
    padding: 20px;  // Add padding to the modal body

  }
  .custom-modal p {
    margin-bottom: 15px;  // Add margin-bottom to paragraphs
      font-size: 18px;  // Set the font size

  }
  